
/* my css code for home */

html,
body,
.cover{
    height: 100%;
}

.cover{
    background-image: url("../assets/img/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;

    /* making a vertical align to the center */
    display:table;
    width: 100%;
    
    /*glooomy look on the outside of image*/
    box-shadow: inset 0 0 100px #000; 
}


.cover{
     /* making background image responsive */
    width: 100%;
    height: auto;
}


.cover-text{
    text-align: center;
    /* making a vertical align to the center */
    display: table-cell;
    vertical-align: middle;

}

.cover-text h1{
    text-transform: lowercase;
    margin: 50px;
    font-size: 40px;
    letter-spacing: 10px;
}


.navbar-inverse{
    background: rgb(130, 136, 106);
    border: none; 
}

.testimonials{
    background: #222;
}

blockquote{
    border: none;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 32px;
    color:white;
}

cite{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size:18px ;
    font-weight:bold;
    color: rgb(255, 255, 255);
    margin-top:20px;
}

section{
     padding: 90px; /*provides spacing on all sides */
}

h2{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 60px;
}


/* sibling selector */
h2 + p {
    text-align: center;
    margin-top: -60px;


}
#nearbyResaturents{
     background: url("https://www.freepik.com/free-photos-vectors/background");
    background-size: cover; 
    text-align: center;
}

footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif

}

footer a{
    color:hotpink;
}



/* panel heading styles */

/* Media Queries */

/* screen size less tnan 568 px do this styles below */
@media only screen and (max-width : 568px)  {

    .cover h1{
        font-size: 40px;
    }
    section{
        padding: 20px;
    }
}
