/* my css code for home */

:root{
    font-size:20px;
}

html,
body{
    margin: 0;
    padding: 0;
}

.responsive{
    width: 100%;
    margin-top: 50px;
    max-width:100%;            /*image is made responsive*/
    height:auto;
}

/* adding text to the resposnive logo image */
.container {
    position: relative;
    text-align: center;
    color: black;
}

.cover-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}